@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Karla:ital@0;1&display=swap');

.karla {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-secondary); 
  }
  ::-webkit-scrollbar-thumb {
    background: var(--mala-boja); 
}

:root {
    --color-primary: #FFFCF2;
    --color-secondary: #252422;
    --mala-boja: #EB5E28;
    --text: #CCC5B9;
    --text2: #403D39;
}

body {
    font-family: "Karla", sans-serif;
    background-color: var(--color-primary);
    color: var(--text2);
}

body h1, h2, h3 {
    color: var(--text2);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    background-color: var(--color-secondary);
    font-family: "Karla", sans-serif;
    color: var(--color-secondary);
}

.navbar a {
    transition: color 0.5s ease;
}

.navbar .nav-item .nav-link:hover {
    color: var(--mala-boja);
}

header {
    background-color: var(--mala-boja) ;
}

header .container h1 {
    font-family: "Be Vietnam Pro", sans-serif;
    color: var(--text2); 
}

figcaption {
    padding-left: 5px;
}

figcaption a {
    color: var(--text2);
    text-decoration: none;
    transition: color 0.5s ease;
}

figcaption a:hover {
    color: var(--mala-boja);
}

#usluge1 .card {
    border: 0px;
    background-color: var(--text);
    color: var(--text2);
    margin-bottom: 10px;
    transition: box-shadow 0.5s ease-in-out, margin-top 0.5s ease;
}

#usluge1 .card:hover {
    -webkit-box-shadow: 0px 62px 54px -10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 62px 54px -10px rgba(0,0,0,0.15);
    box-shadow: 0px 62px 54px -10px rgba(0,0,0,0.15);
    margin-top: 10px;
}

#usluge .card {
    border: 0px;
    background-color: var(--text);
    color: var(--text2);
    margin-bottom: 10px;
    transition: box-shadow 0.5s ease-in-out, margin-top 0.5s ease;
}

#usluge .card:hover {
    box-shadow: 0px 62px 54px -10px rgba(0,0,0,0.15);
    margin-top: 10px;
}


button .accordion-button .collapse {
    color: var(--mala-boja);
}


section .py-5 {
    background-color: var(--color-secondary);
}

.btn:hover {
    border: none;
    background-color: var(--mala-boja);
}

.btn {
    border: none;
    color: var(--text);
    background-color: var(--color-secondary);
}

@media (min-width: 992px) { /* Za desktop ekrane */
    .col-md-4 img {
    filter: saturate(0);
    transition: transform 0.5s ease-out, box-shadow 0.5s ease, filter 0.5s ease;
    }

    .col-md-4 img:hover {
        filter: saturate(1);
        box-shadow: 0px 22px 29px 9px rgba(0, 0, 0, 0.301);
        transform: scale(1.1);
    }  
}



footer {
    color: var(--text);
    background-color: var(--color-secondary);
}